[flake8]
max-line-length = 100
extend-ignore = E203, E501, W503
extend-exclude = .venv,.git,external_data,build,dist,references
per-file-ignores =
    __init__.py:F401
    tests/*:E402
    src/data/apis/_http.py:C901
    src/data/apis/world_bank.py:C901
    # only for reference py files:
    references/*.py: F401,F841,E402
max-complexity = 10
